

<div class="header-container">
    <h1 class= "page-title">Tags</h1>

    <div class="header-buttons"> 
       
        <% if Current.user&.role == "admin" %> 
            <%= link_to new_tag_path, class: "btn btn-success icon-spacing responsive-button" do %> 
                    <i class="fas fa-plus"></i>
                <span class="button-text">New</span>
            <% end %> 
        <% end %>

        <%= form_with url: tags_path, method: :get, local: true, class: "search-form" do %>
            <div class="search-wrapper">
                <%= text_field_tag :query, params[:query], placeholder: "Search tags...", class: "search-input" %>
                <button type="submit" class="search-icon-btn">
                <i class="fas fa-search"></i>
                </button>
            </div>
        <% end %>
    </div> 
</div> 

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% if @tags.any? %> 
        <% @tags.each_with_index do |tag, index| %>
        <tr onclick="window.location='<%= tag_path(tag) %>'" style="cursor: pointer;">
            <td class="counter-col"> <%= @tags.offset_value + index + 1 %></td>
            <td><%= tag.name %></td>
        </tr>
        <% end %>
    <% else %>
        <tr> 
            <td colspan="2" class= "text-center text-muted"> No tags found. </td>  
        </tr> 
    <% end %>
  </tbody>
</table>

<div class="pagination-stack-wrapper"> 
    <%# Pagination summary %>
    <% if @tags.total_count > 0 %>
        <div class="pagination-summary text-muted text-end">
            Showing <%= @tags.offset_value + 1 %>–
            <%= [@tags.offset_value + @tags.limit_value, @tags.total_count].min %>
            of <%= @tags.total_count %> tags
        </div>
    <% end %>

    <%# Pagination controls %>
    <div class="pagination-controls">
        <%= paginate @tags %>
    </div> 
</div>



