  <% if category.errors.any? %> 
    <div class="alert-box"> 
        <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
        
        <p><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</p>

        <ul>
            <% category.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
    </div>
  <% end %>

<%= form_with(model: category) do |form| %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group">
    <%= form.label :description %> 
    <%= form.text_area :description, rows: 3, class: "form-control" %> 
  </div> 
  

  <%= form.submit "Create Category", class: "btn-success" %>

<% end %>
