
<div class="header-container">
    <h1 class="page-title">Products</h1>
    <div class="header-buttons">
        <%= link_to "New Product", new_product_path, class: "btn new-category" %>

       <%= form_with url: products_path, method: :get, local: true, class: "search-form" do %>
            <div class="search-wrapper">
                <%= text_field_tag :query, params[:query], placeholder: "Search products...", class: "search-input" %>
                    <button type="submit" class="search-icon-btn">
                        <i class="fas fa-search"></i>
                    </button>
            </div>
        <% end %>
    </div> 
</div> 

<table class="product-table">
  <thead>
    <tr>
      <th class="counter-col"> </th> 
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each_with_index do |product, index| %>
      <tr onclick="window.location='<%= product_path(product) %>'" style="cursor: pointer;">
        <td><%= index + 1 %></td>
        <td><%= product.name %></td>
        <td><%= number_to_currency(product.price) if product.price.present? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
