<p><%= link_to "Back", products_path, class: "back-link" %></p>

<section class="product-detail">

    <div class="product-image">  
        <%= image_tag @product.featured_image if @product.featured_image.attached? %>
    </div> 

  <div class="product-info">
    <% cache @product do %>
        <h1><%= @product.name %></h1>
        <p class="product-description"> <%= @product.description %> </p>
    <% end %>
    
    <p>
        <strong>Category:</strong>
        <%= @product.category&.name || "Uncategorized" %>
    </p>

    <%# Render this partial %> 
    <%= render "inventory", product: @product %>

    <% if authenticated? %>
        <div class="product-actions">
            <%= link_to "Update", edit_product_path(@product), class: "btn edit" %>
            <%= button_to "Delete", @product, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn delete" %>
        </div>
    <% end %>
  </div>
  
</section>
